:root {
    --ArtistName: 'Circular Std', 'Arial', sans-serif;

}

/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general layout */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}


/* Spotify iframe styling */
.spotifyplaylist iframe {
    border-radius: 14px;
}

/* Artist Image */
.Artistimage img {
    max-width: 100%;
    border-radius: 10%;
    padding: 5%;
}

/* Artist Name */
.artistname {
    font-weight: 600;
    font-size: 1.6rem; /* Adjust font size */
    color: #000000; /* Font color */
    font-family: var(--ArtistName); /* Font family */
    
    
}

/* Custom Button Styles (If needed for other buttons like 'like' / 'dislike') */
.like-btn, .dislike-btn {
    background-color: #ff5e57;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.like-btn:hover, .dislike-btn:hover {
    background-color: #ff3030;
}
