<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <div class="container-fluid">
        <div class="row p-5">

            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        </div>

        <!-- Main Content Area -->
        <div class="mt-4">
            <!-- Row to hold the playlist and artist image -->
            <div class="row">
                <!-- Spotify Playlist (70%) -->
                <div class="col-lg-8 col-md-7 col-sm-12">
                    <div class="spotifyplaylist">
                        <iframe style="border-radius:14px" src="https://open.spotify.com/embed/playlist/0OIvJMRHhbbLxHW8nEkVZk?utm_source=generator" width="100%" height="560" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                </div>
        
                <!-- Artist Image Section (30%) -->
                <div class="col-lg-4 col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
                    <div class="Artistimage">
                        {% if image_url %}
                            <img src="{{ image_url }}" alt="Artist Image" class="img-fluid rounded-5 w-75" style="max-width: 100%; padding: 5%; border-radius: 8%;">

                        {% else %}
                            <p>No image found for this artist.</p>
                        {% endif %}
                        <h2 class="artistname text-left ml-4">{{ artist_name }}</h2>
                    </div>
                </div>
            </div>
        </div>
        

    <script src="/static/app.js"></script>
</body>
</html>
