<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swipe Music Cards</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <!-- Top Menu Bar -->
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="#">Playlist</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>


    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0OIvJMRHhbbLxHW8nEkVZk?utm_source=generator" width="80%" height="560" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <!-- Like/Dislike Buttons outside the cards -->
    <div class="buttons-container">
        <button class="dislike-btn">👎</button>
        <button class="like-btn">👍</button>
    </div>

    <script src="/static/app.js"></script>
</body>
</html>
